<div class="login">
    <input type="text" placeholder="Login" class="login_input" [(ngModel)]="username">
    <input type="password" placeholder="Password" class="login_input" [(ngModel)]="password">
    <p class="login_error" *ngIf="errorMessage">{{ errorMessage }}</p>
    <div class="login_button-wrapper">
        <button class="login_button" (click)="handleSignIn()">Login</button>
    </div>  
    <p class="login_text" *ngIf="!errorMessage">Don't have an account? <span class="login_text-register" (click)="handleRegisterLink()">Register</span> </p>
</div>