<div class="list-item">
    <header class="list-item_header">
        <p>Orderer:</p>
        <img src="../../../../assets/user.png" alt="user" class="list-item_header-img">
        <p></p>
    </header>

    <div class="list-item_text">
        <div class="list-item_text-titles">
            <p>PizzaName:</p>
            <p>Size:</p>
            <p>Dough:</p>
            <p>Sideboard:</p>
            <p>Toppings:</p>
            <p>Destination:</p>
            <p>Additional:</p>
        </div>

        <div class="list-item_text-data">
            <p>a</p>
            <p>a</p>
            <p>a</p>
            <p>a</p>
            <p>a</p>
            <p>a</p>
            <p>a</p>
        </div>
    </div>

    <p class="list-item_text-status">Status:</p>

    <div class="list-item_buttons">
        <button class="list-item_buttons-change">Change Status</button>
        <button class="list-item_buttons-chat">Chat</button>
    </div>
</div>